/* ______________

RESET

__________________*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ______________

COMMON

__________________*/


body {
    background-color: #7fffd4;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

img {
    object-fit: cover;
    width: 100%;
    display: block;
}

/* header */

header,footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

header>div {
    display: flex;
    gap: .625rem;
    align-items: center;
}

.logo-box {
    width: 3.125rem;
}

header h1 {
    font-size: 2.5vw;
}

/* footer */

footer {
    font-size: 1vw;
}

/* main */

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .grid  {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    align-content: flex-start;
    padding: .625rem;
}

main .grid li {
    border: 1px solid  black;
    width: calc(100%/10);
    height: calc(100%/10);
}